$bg-color: #FAFAFA;
$bright-color: RGBA(252,28,38,1);
$complementary-color: RGBA(15,87,234,1);
$solid-color: RGBA(23,28,56,1);
$midnightblue-color: RGB(23, 28, 56);
$nyred-color: RGB(23, 28,56);
$brightblue-color: RGB(15 ,87 ,234);