@import "portlet_decorator";
@import "portlet_hello_world";
@import "header";
@font-face {
	font-family:"Helvetica Lt";
	src: url("../fonts/Helvetica/HelveticaLTStd-Light.otf") format("opentype")
}
@font-face {
	font-family:"Helvetica Bold";
	src: url("../fonts/Helvetica/HelveticaLTStd-Comp.otf") format("opentype")
}
@font-face {
	font-family:"Open Sans";
	src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype")
}
@font-face {
	font-family:"Roboto";
	src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype")
}
@font-face {
	font-family:"Titillium Web";
	src: url("../fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf") format("truetype")
}
@font-face {
	font-family:"Circular";
	src: url("../fonts/Circular/Circular-Medium.ttf") format("truetype")
}

body {
	background-color: $bg-color;
}

.container-fluid-1280 .row {
	margin-left: 15px;
	margin-right: 15px;
}

.btn, .btn-default {
	font-size: 12px;
	border-color: $lightblue-color;
	background: $lightblue-color;
	color: white;
	font-family: sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.btn:hover, .btn:focus {
	background:$brightblue-color;
	border: 2px solid $brightblue-color;
	color: white;
	text-shadow: $hard-shadow;
}

.text-default {
	color: owgray-color;
}

.rating a {
    font-family: "fontawesome-alloy";
}

.glyphicon {
	font-family: 'Glyphicons Halflings'!important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Titillium Web";
}

//Sidebar nav Styles
.sidebar-body {
	a {
		letter-spacing: .5px;
		text-transform: capitalize;
		font-weight: normal;
		font-family: "Open Sans"
	}
}

.product-menu .panel-heading .panel-title > .panel-toggler .category-name, 
.product-menu .panel-heading .panel-title > .panel-toggler .user-name, 
.product-menu .panel-heading .panel-title > .panel-toggler .site-name {
    text-transform: uppercase;
	font-family: sans-serif;
	letter-spacing: 2px;
    }

//styles when panel is clicked open
.product-menu .panel-heading .panel-title > .panel-toggler:not(.collapsed) {
	border-left: 4px solid $brightblue-color!important;
	text-shadow: $hard-shadow;
}

#footer {

	max-width: none;
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	margin-top: 5%;
	margin-bottom: 0;

	div.row {
		font-family: "Open Sans";
		letter-spacing: 1.5px;
		text-transform: lowercase;
		color: beige;
		text-align: center;
		width: 100%;
	}
}

.full-width {
	max-width: none;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

#wrapper {
	padding: 0;
}

#content .row {
	margin-left: -15px;
	margin-right: -15px;
}

//panel styles 
.panel {

	border-radius:8px;
	color: $owgray-color;

	.panel-heading{
		background: $nyred-color;
		text-transform: uppercase;
		font-family: sans-serif;
		letter-spacing: 2px;
		color: white;
		border-radius: 8px 8px 0 0;
		border: none;
	}

	.panel-default {
		border-color: none;
	}

	.text-primary {
		color: $lightblue-color;
	}

}

//form styles
.form-control {
	:focus {
		color: $lightblue-color;
		border-color: $lightblue-color;
	}
}

// default footer styles
#footer {
	background-color: $solid-color;
	color: #FFF;
	padding: 40px 20px;

	a {
		color: #FFF;
	}
}

.modify-pages .delete-tab {
	height: 20px;
	top: 22px;
}

.display-style-buttons > .dropdown > .dropdown-menu {
	&:after, &:before {
		@include media-query(null, $screen-xs-max) {
			border-width: 0;
		}
	}
}

@include media-query(null, $screen-sm-max) {
	.overlay-focused:focus {
		outline: 0;
	}
}