@import "portlet_decorator";
@import "portlet_hello_world";
@import "header";

@font-face {
	font-family: "Helvetica Lt";
	src: url("../fonts/Helvetica/HelveticaLTStd-Light.otf") format("opentype");
}

@font-face {
	font-family: "Helvetica Bold";
	src: url("../fonts/Helvetica/HelveticaLTStd-Comp.otf") format("opentype");
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Titillium Web";
	src: url("../fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf") format("truetype");
}

@font-face {
	font-family: "Circular";
	src: url("../fonts/Circular/Circular-Medium.ttf") format("truetype");
}

body {
	background-color: $bg-color;
}

a {
	transition: 0.3s ease-in-out;
	white-space: nowrap;
}

.container-fluid-1280 .row {
	margin-left: 15px;
	margin-right: 15px;
}

.btn, .btn-default {
	background: $lightblue-color;
	border-color: $lightblue-color;
	color: #FFF !important;
	font-family: sans-serif;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
	transition: $transition;
}

.btn:hover, .btn:focus {
	background: $brightblue-color;
	border: 2px solid $brightblue-color;
	color: #FFF;
	text-shadow: $hard-shadow;
}

.text-default {
	color: $owgray-color;
}


/* Text Styles */

a {
	font-family: $link-text;
}

.portlet-title-text,
thead,
.header-title,
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $title-font;
	color: $nyred-color;
}

.entry-info {
	font-family: $title-font;
}

.alert,
p,
.entry-body,
.message-content,
.rating-label,
.stats,
tbody,
.text-default {
	font-family: $body-font;
	color: $owgray-color;
}

input {
	font-family: $font-text;
}

.rating a {
	font-family: "fontawesome-alloy";
}

.glyphicon {
	font-family: 'Glyphicons Halflings' !important;
}

/* Sidebar nav Styles */

.sidebar-body {
	a {
		font-family: "Open Sans";
		font-weight: normal;
		letter-spacing: 0.5px;
		text-transform: capitalize;
	}
}

.product-menu .panel-heading .panel-title > .panel-toggler .category-name,
.product-menu .panel-heading .panel-title > .panel-toggler .user-name,
.product-menu .panel-heading .panel-title > .panel-toggler .site-name {
	font-family: sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
}

/* styles when panel is clicked open */

.product-menu .panel-heading .panel-title > .panel-toggler:not(.collapsed) {
	border-left: 4px solid $brightblue-color !important;
	text-shadow: $hard-shadow;
}

#footer {
	left: 50%;
	margin: 5% -50vw 0 -50vw;
	max-width: none;
	position: relative;
	right: 50%;
	width: 100vw;

	div.row {
		color: #F5F5DC;
		font-family: "Open Sans";
		letter-spacing: 1.5px;
		text-align: center;
		text-transform: lowercase;
		width: 100%;
	}
}

.full-width {
	left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: none;
	position: relative;
	right: 50%;
	width: 100vw;
}

#wrapper {
	padding: 0;
}

#content .row {
	margin-left: -15px;
	margin-right: -15px;
}

/* panel styles */

.panel {
	border-radius: 8px;
	color: $owgray-color;

	.panel-heading {
		background: $nyred-color;
		border: none;
		border-radius: 8px 8px 0 0;
		color: #FFF;
		font-family: sans-serif;
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	.panel-default {
		border-color: none;
	}

	.text-primary {
		color: $lightblue-color;
	}
}

/* Form styles */

.form-control {
	:focus {
		border-color: $lightblue-color;
		color: $lightblue-color;
	}
}

/* default footer styles */

#footer {
	background-color: $solid-color;
	color: #FFF;
	padding: 40px 20px;

	a {
		color: #FFF;
	}
}

.modify-pages .delete-tab {
	height: 20px;
	top: 22px;
}

.display-style-buttons > .dropdown > .dropdown-menu {
	&:after, &:before {
		@include media-query(null, $screen-xs-max) {
			border-width: 0;
		}
	}
}

@include media-query(null, $screen-sm-max) {
	.overlay-focused:focus {
		outline: 0;
	}
}