@import "portlet_decorator";
@import "portlet_hello_world";
@font-face {
	font-family:"Helvetica Lt";
	src: url("../fonts/Helvetica/HelveticaLTStd-Light.otf") format("opentype")
}
@font-face {
	font-family:"Helvetica Bold";
	src: url("../fonts/Helvetica/HelveticaLTStd-Comp.otf") format("opentype")
}
@font-face {
	font-family:"Open Sans";
	src: url("../fonts/Open-Sans/OpenSans-Regular.ttf") format("truetype")
}
@font-face {
	font-family:"Roboto";
	src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype")
}

$bg-color: white;
$bright-color: rgba(252,28,38,1);
$complementary-color: rgba(15, 87, 234, .9);
$solid-color: rgba(23, 28, 56, .9);

$midnightblue-color: rgba(23, 28, 56, 1);
$nyred-color: rgba(252, 28,38, 1);
$brightblue-color: rgba(15 ,87 ,234, 1);

$lightgray-color: #E3E6E8;
$lightred-color: rgb(237,94,104);
$lightmidnight-color: rgb(54,59,89);
$lightblue-color: rgb(73,149,209);

$lightgray-border: 1px solid #E3E6E8;

$soft-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;

body {
	background-color: $bg-color;
}

h1 , .portlet-title-text {
	font-family: "Roboto";
	text-transform: uppercase;
	letter-spacing: 3px;
	color: $midnightblue-color;
}

.container-fluid-1280 .row {
	margin-left: 15px;
	margin-right: 15px;
}

.btn, .btn-default {
	font-size: 12px;
	border-color: $lightblue-color;
	background: $lightblue-color;
	color: white;

	:hover {
		background:$lightblue-color;
	}
}



#footer {

	max-width: none;
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;

	div.row {
		font-family: "Open Sans";
		letter-spacing: 1.5px;
		text-transform: lowercase;
		color: beige;
		text-align: center;
		width: 100%;
	}
}

.full-width {
	max-width: none;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

#wrapper {
	padding: 0;
}

#banner {
	padding: 20px 0;
	position: relative;

	a:active, a:hover, a:focus {
		text-decoration: none;
	}

	.portlet-topper {
		z-index: 1;
	}

	.navbar-collapse {
		@include sm {
			padding-right: 4px;
		}
	}

	.navbar-toggle {
		margin: 12px 0 12px 6px;
	}

	#heading .site-name {
		color: $solid-color;
		font-size: 150%;
		margin-left: 8px;
		vertical-align: middle;

		@include sm {
			letter-spacing: 2px;
			margin-left: 20px;
		}
	}

	#navigationCollapse {
		@include media-query(null, $screen-xs-max) {
			font-size: 125%;
			margin-left: -15px;
			margin-right: -15px;
		}

		#navigation {
			.input-container {
				position: relative;
			}

			.portlet {
				&, .portlet-body > .navbar {
					margin-bottom: 0;
				}
			}

			li.open > a:focus {
				@include tab-focus;
			}
		}

		.navbar-blank > li {
			& > a {
				color: $solid-color;
			}

			&:hover, &.hover, &.active, .dropdown-menu .active {
				& > a {
					color: #000;
				}
			}
		}

		@include media-query(null, $screen-xs-max) {
			.nav > li {
				> a {
					border-bottom: 1px solid #E1E1E1;
				}

				&:last-child > a {
					border-bottom-width: 0;
				}
			}
		}
	}

	.navbar-form {
		@include sm {
			margin-left: 30px;
		}

		.input-text-wrapper {
			@include media-query(null, $screen-xs-max) {
				display: block;
			}
		}

		.form-control {
			background-color: transparent;
			border-bottom-width: 1px;
			border-color: #D6DCE2;
			margin-top: 2px;

			@include media-query(null, $screen-xs-max) {
				border-width: 0;
			}
		}

		.search-select {
			margin-right: 40px;
			padding-right: 20px;
		}

		.search-input {
			font-size: 16px;
			padding-right: 32px;

			@include sm {
				height: auto;
				max-width: 200px;
			}
		}

		.field-wrapper {
			position: absolute;
			right: 0;
			top: 0;

			a {
				color: $complementary-color;
			}
		}
	}

	.user-personal-bar {
		@include sm {
			position: absolute;
			right: 20px;
			top: 0;
		}

		.panel-notifications-count {
			top: 50%;

			@include transform(translateY(-50%));

			@include sm {
				right: -15px;
			}
		}

		.sign-in > a, .user-avatar-link {
			display: block;
		}

		.sign-in > a {
			line-height: 28px;
			padding: 15px 4px;
		}

		.user-avatar-image {
			display: inline-block;
			vertical-align: text-bottom;
			width: 32px;
		}

		.user-avatar-link {
			line-height: 0;
			padding: 18px 4px;

			@include sm {
				padding: 8px 0 8px 14px;
			}
		}

		.panel-notifications-count {
			@include media-query(null, $breakpoint_tablet - 1) {
				left: 2px;
				position: relative;
				top: 6px;
			}
		}

		.icon-user, .user-full-name {
			display: none;
		}
	}

	.navbar-nav {
		@include media-query(null, $screen-xs-max) {
			margin: 0 0;
		}
	}

	.lfr-nav-item .lfr-nav-child-toggle {
		line-height: 28px;
		margin-top: -14px;
		padding-left: 15px;
		padding-right: 15px;
		position: absolute;
		right: 4px;
		top: 50%;

		@include sm {
			padding: 0 0 0 8px;
			position: relative;

			.lexicon-icon {
				width: 8px;
			}
		}
	}

	@include sm {
		padding: 40px 0 30px;
	}
}

#content .row {
	margin-left: -15px;
	margin-right: -15px;
}

#footer {
	background-color: $solid-color;
	color: #FFF;
	margin-bottom: 60px;
	padding: 40px 20px;

	a {
		color: #FFF;
	}
}

.modify-pages .delete-tab {
	height: 20px;
	top: 22px;
}

.display-style-buttons > .dropdown > .dropdown-menu {
	&:after, &:before {
		@include media-query(null, $screen-xs-max) {
			border-width: 0;
		}
	}
}

@include media-query(null, $screen-sm-max) {
	.overlay-focused:focus {
		outline: 0;
	}
}