.portlet-decorate .portlet-content {
	background: #FFF;
	border: $lightgray-border;
	box-shadow: $soft-shadow;
	border-radius: 3px;
}

.portlet-barebone .portlet-content {
	padding: 0;
}

// .portlet-title-text {
// 	background: $nyred-color; 
// 	color: white;
// 	font-family: sans-serif;
// 	text-transform: uppercase;
// 	padding: 10px 50px;
// 	letter-spacing: 2px;
// }
.portlet-title-text {
	color: $nyred-color;
	font-family: sans-serif;
	text-transform: uppercase;
	text-align: center;
	display:block;
	letter-spacing: 2px;
	font-weight: bold;
	text-shadow: $text-shadow;
}

.portlet-content {
	box-shadow: $soft-shadow;
	border: $lightgray-border;

	a {
		font-family: sans-serif;
		font-weight: bold;
		letter-spacing: 2px;
		text-transform: uppercase;
	
		:hover, :focus, :active, {
			text-shadow: $hard-shadow;
		}

		.btn, 
		.btn-default, 
		.btn:hover,
		.btn:focus, {
			color: white;
		}
	}
}

.panel-default {
	border-color: $brightblue-color; 
}
	.panel-default > .panel-heading {
	border-color: $brightblue-color; 

	}
	.panel-default > .panel-heading + .panel-collapse > .panel-body {
		border-top-color: $brightblue-color; 
	}

	.panel-default > .panel-footer + .panel-collapse > .panel-body {
		border-bottom-color: $brightblue-color;
	}

//BLOG styles
.portlet-blogs {
	.entry-info, .hide-accessible {
		font-family: "Open Sans";
	}

	.entry-title {
		text-transform: uppercase;
		letter-spacing: 2px;
	}

	.entry-social {
		a {
			color: $lightblue-color;
			:focus, :hover, :active, :visited {
				color: $brightblue-color;
			}
		}

	}
}

//FORM styles
.portlet-forms {

	h1 {
		text-transform: uppercase;
		letter-spacing: 2px;
		font-family: sans-serif
	}

	h2 {
		letter-spacing: 2px;
		font-family: "Roboto";
		text-transform: uppercase;
	}

	.control-label {
		font-family: "Titillium Web";
		letter-spacing: 2px;
	}

	label, select, input, table, .yui3-g [class *= "yui3-u"] {
		font-family: "Open Sans";
	}

	.yui3-g [class *= "yui3-u"] {
		color: $owgray-color;
	}
}

.form-control:focus {
	color: $brightblue-color;
	border-color: $brightblue-color;
}