.portlet-decorate .portlet-content {
	background: #FFF;
	border: $lightgray-border;
	box-shadow: $soft-shadow;
	border-radius: 3px;
}

.portlet-barebone .portlet-content {
	padding: 0;
}

.portlet-title-text {
	background: $nyred-color; 
	color: white;
	font-family: sans-serif;
	text-transform: uppercase;
	padding: 10px 50px;
}

.portlet-content {
	box-shadow: $soft-shadow;
	border: $lightgray-border;

	a {
		font-family: sans-serif;
		
		.btn, 
		.btn-default, 
		.btn:hover,
		.btn:focus, {
			color: white;
		}
	}

}

