.portlet-decorate .portlet-content {
	background: #FFF;
	border: none;
}

.portlet-barebone .portlet-content {
	padding: 0;
}

.portlet-title-text {
	color: $nyred-color;
	font-family: "Circular";
	font-size: x-large;
	letter-spacing: 0.5px;
	text-transform: capitalize;
}

.portlet-content {
	a {
		font-family: sans-serif;
		font-weight: bold;
		letter-spacing: 2px;
		text-transform: uppercase;

		.btn,
		.btn-default,
		.btn:hover,
		.btn:focus {
			color: #FFF !important;
		}
	}

	.rating-label .rating a {
		font-family: "fontawesome-alloy";
	}
}

.panel-default {
	border-color: $brightblue-color;
	border-radius: 8px 8px 0 0 !important;
}

.panel-default > .panel-heading {
	border-color: $brightblue-color;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
	border: none;
}

.panel-default > .panel-footer + .panel-collapse > .panel-body {
	border-bottom-color: $brightblue-color;
}

/* BLOG styles */

.portlet-blogs {
	.entry-info, .hide-accessible {
		font-family: "Open Sans";
	}

	.entry-title {
		font-family: "Circular";
		letter-spacing: 0.5px;
		text-transform: capitalize;

		h2 > a {
			font-family: "Circular";
		}
	}

	.entry-social {
		a {
			color: $lightblue-color;

			:focus, :hover, :active, :visited {
				color: $brightblue-color;
			}
		}
	}
}

/* FORM styles */

.portlet-forms {
	h1, h2 {
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	.control-label {
		font-family: "Titillium Web";
		letter-spacing: 2px;
	}

	label, select, input, table {
		font-family: "Open Sans";
	}
}

.form-control:focus {
	border-color: $brightblue-color;
	color: $brightblue-color;
}

/* Wiki card styles */

.panel-group .panel-title > a,
.panel-group .panel-title > span {
	color: #FFF;
}

.card .divider, .card-horizontal .divider {
	background-color: none;
}

/* Remove borders */

.card, 
.card-horizontal,
.navbar-default,
.portlet-decorate .portlet-content,
.taglib-header,
.list-group {
	border: none;
	box-shadow: none;
}

.divider {
	display: none;
}

/* Changes color of links on wiki entry */

.card a, .card-horizontal a {
	color: $lightblue-color;
}